@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
main{
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes entrada{
    0%{
        width: 0%;
        color:white;
    }
    100%{
        width: 40%;
        color: black;
    }
}
header{
    height: 10vh;
    background-color: crimson;
    text-align:center;
    display: flex;
    justify-content:space-between;
    padding: 0px 20px;
    align-items: center;
}
.titulo{
    font-size: 2em;
    color: white;
    font-weight: bold;
}
.btn{
    text-decoration:none;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px / 50px;
}
form{
    animation-name: entrada;
    animation-duration: 1s;
    width: 40%;
}
fieldset{
    border: none;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group{
    display: flex;
    margin: 20px 0px;
    justify-content: center;
    width: 70%;
    flex-direction: column;
}
.form-group input{
    align-self: center;
    font-size: 1.2em;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}
.btn-salvar{
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
}
.btn-salvar:hover{
    color: white;
    background-color:black;
    transition: 0.2s ease-in-out;
}