@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.card{
    min-height: 85vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
header{
    height: 10vh;
    background-color: crimson;
    text-align:center;
    display: flex;
    justify-content:space-between;
    padding: 0px 20px;
    align-items: center;
}
.titulo{
    font-size: 2em;
    color: white;
    font-weight: bold;
}
.btn{
    text-decoration:none;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px / 50px;
}
.pokemon-card {
    background-color: #fff;
    width: 20%;
    height: 300px;
    border-radius:20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 20px;
}
.div-info, .div-img{
    height: 50%;
    width: 100%;
}
.div-img{
    height: 50%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}